In [6]:
import pyspark
print(pyspark.__version__)

import logging
from datetime import datetime
import uuid
import time_uuid

import pandas as pd
from cassandra.cluster import Cluster
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

3.3.0

## Build spark

In [7]:
s_conn = SparkSession \
    .builder \
    .appName("SparkDataStreaming") \
    .config("spark.streaming.stopGracefullyOnShutdown", True) \
    .config('spark.jars.packages', "org.apache.spark:spark-sql-kafka-0-10_2.12:3.3.0,"
                                "com.datastax.spark:spark-cassandra-connector-assembly_2.12:3.3.0") \
    .config("spark.sql.shuffle.partitions", 4) \
    .config('spark.cassandra.connection.host', 'host.docker.internal') \
    .getOrCreate()

## Connect to kafka

In [8]:
spark_df = s_conn.readStream \
    .format('kafka') \
    .option('kafka.bootstrap.servers', 'kafka:29092') \
    .option('subscribe', 'user_created') \
    .option('startingOffsets', 'earliest') \
    .load()

In [13]:
# # Change 'readStream' to 'read' to read kafka
# spark_df = s_conn.read\
#     .format('kafka') \
#     .option('kafka.bootstrap.servers', 'kafka:29092') \
#     .option('subscribe', 'user_created') \
#     .option('startingOffsets', 'earliest') \
#     .load()

# spark_df.printSchema()
# spark_df.show(5,False)

root
 |-- key: binary (nullable = true)
 |-- value: binary (nullable = true)
 |-- topic: string (nullable = true)
 |-- partition: integer (nullable = true)
 |-- offset: long (nullable = true)
 |-- timestamp: timestamp (nullable = true)
 |-- timestampType: integer (nullable = true)

+----+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+---------+------+-----------------------+-------------+
|key |value                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             |topic       |partition|offset|timestamp              |timestampType|
+----+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+---------+------+-----------------------+-------------+
|null|[7B 22 69 64 22 3A 20 22 38 65 37 39 39 66 65 61 2D 38 33 39 61 2D 31 31 65 65 2D 61 61 39 65 2D 30 32 34 32 61 63 31 32 30 30 30 32 22 2C 20 22 66 69 72 73 74 5F 6E 61 6D 65 22 3A 20 22 4A 75 64 69 74 68 22 2C 20 22 6C 61 73 74 5F 6E 61 6D 65 22 3A 20 22 44 61 6E 69 65 6C 73 22 2C 20 22 67 65 6E 64 65 72 22 3A 20 22 66 65 6D 61 6C 65 22 2C 20 22 61 64 64 72 65 73 73 22 3A 20 22 38 37 38 31 20 4E 6F 76 61 72 61 20 41 76 65 6E 75 65 2C 20 45 6E 6E 69 73 63 6F 72 74 68 79 2C 20 53 6F 75 74 68 20 44 75 62 6C 69 6E 2C 20 49 72 65 6C 61 6E 64 22 2C 20 22 70 6F 73 74 5F 63 6F 64 65 22 3A 20 33 39 37 39 38 2C 20 22 65 6D 61 69 6C 22 3A 20 22 6A 75 64 69 74 68 2E 64 61 6E 69 65 6C 73 40 65 78 61 6D 70 6C 65 2E 63 6F 6D 22 2C 20 22 75 73 65 72 6E 61 6D 65 22 3A 20 22 67 6F 6C 64 65 6E 67 6F 72 69 6C 6C 61 32 36 39 22 2C 20 22 64 6F 62 22 3A 20 22 31 39 35 32 2D 30 38 2D 30 36 54 32 31 3A 34 38 3A 35 39 2E 38 36 35 5A 22 2C 20 22 72 65 67 69 73 74 65 72 65 64 5F 64 61 74 65 22 3A 20 22 32 30 31 37 2D 31 32 2D 31 34 54 32 33 3A 35 34 3A 33 32 2E 32 33 36 5A 22 2C 20 22 70 68 6F 6E 65 22 3A 20 22 30 34 31 2D 36 35 36 2D 34 30 33 34 22 2C 20 22 70 69 63 74 75 72 65 22 3A 20 22 68 74 74 70 73 3A 2F 2F 72 61 6E 64 6F 6D 75 73 65 72 2E 6D 65 2F 61 70 69 2F 70 6F 72 74 72 61 69 74 73 2F 6D 65 64 2F 77 6F 6D 65 6E 2F 34 34 2E 6A 70 67 22 7D]                                 |user_created|0        |0     |2023-11-15 09:37:13.36 |0            |
|null|[7B 22 69 64 22 3A 20 22 38 65 62 33 62 35 61 34 2D 38 33 39 61 2D 31 31 65 65 2D 61 61 39 65 2D 30 32 34 32 61 63 31 32 30 30 30 32 22 2C 20 22 66 69 72 73 74 5F 6E 61 6D 65 22 3A 20 22 45 67 65 22 2C 20 22 6C 61 73 74 5F 6E 61 6D 65 22 3A 20 22 5C 75 30 30 64 36 7A 62 65 79 22 2C 20 22 67 65 6E 64 65 72 22 3A 20 22 66 65 6D 61 6C 65 22 2C 20 22 61 64 64 72 65 73 73 22 3A 20 22 38 30 37 20 44 6F 6B 74 6F 72 6C 61 72 20 43 64 2C 20 4B 5C 75 30 31 33 31 72 6B 6C 61 72 65 6C 69 2C 20 48 61 74 61 79 2C 20 54 75 72 6B 65 79 22 2C 20 22 70 6F 73 74 5F 63 6F 64 65 22 3A 20 39 39 31 35 31 2C 20 22 65 6D 61 69 6C 22 3A 20 22 65 67 65 2E 6F 7A 62 65 79 40 65 78 61 6D 70 6C 65 2E 63 6F 6D 22 2C 20 22 75 73 65 72 6E 61 6D 65 22 3A 20 22 73 61 64 6F 73 74 72 69 63 68 36 35 39 22 2C 20 22 64 6F 62 22 3A 20 22 31 39 34 35 2D 30 32 2D 30 32 54 31 38 3A 31 37 3A 30 32 2E 36 38 31 5A 22 2C 20 22 72 65 67 69 73 74 65 72 65 64 5F 64 61 74 65 22 3A 20 22 32 30 31 30 2D 30 36 2D 32 31 54 30 39 3A 31 37 3A 33 36 2E 34 38 35 5A 22 2C 20 22 70 68 6F 6E 65 22 3A 20 22 28 31 35 31 29 2D 30 33 35 2D 30 34 39 39 22 2C 20 22 70 69 63 74 75 72 65 22 3A 20 22 68 74 74 70 73 3A 2F 2F 72 61 6E 64 6F 6D 75 73 65 72 2E 6D 65 2F 61 70 69 2F 70 6F 72 74 72 61 69 74 73 2F 6D 65 64 2F 77 6F 6D 65 6E 2F 38 31 2E 6A 70 67 22 7D]                                                                     |user_created|0        |1     |2023-11-15 09:37:13.741|0            |
|null|[7B 22 69 64 22 3A 20 22 38 65 65 62 65 64 34 38 2D 38 33 39 61 2D 31 31 65 65 2D 61 61 39 65 2D 30 32 34 32 61 63 31 32 30 30 30 32 22 2C 20 22 66 69 72 73 74 5F 6E 61 6D 65 22 3A 20 22 42 72 61 6E 6B 61 22 2C 20 22 6C 61 73 74 5F 6E 61 6D 65 22 3A 20 22 53 70 61 73 69 5C 75 30 31 30 37 22 2C 20 22 67 65 6E 64 65 72 22 3A 20 22 66 65 6D 61 6C 65 22 2C 20 22 61 64 64 72 65 73 73 22 3A 20 22 31 39 31 37 20 50 6F 72 6F 64 69 63 65 20 53 74 61 6E 6B 6F 76 69 5C 75 30 31 30 37 2C 20 50 6C 61 6E 64 69 5C 75 30 31 36 31 74 65 2C 20 4D 61 5C 75 30 31 30 64 76 61 2C 20 53 65 72 62 69 61 22 2C 20 22 70 6F 73 74 5F 63 6F 64 65 22 3A 20 37 38 37 39 34 2C 20 22 65 6D 61 69 6C 22 3A 20 22 62 72 61 6E 6B 61 2E 73 70 61 73 69 63 40 65 78 61 6D 70 6C 65 2E 63 6F 6D 22 2C 20 22 75 73 65 72 6E 61 6D 65 22 3A 20 22 73 6D 61 6C 6C 6C 65 6F 70 61 72 64 32 39 31 22 2C 20 22 64 6F 62 22 3A 20 22 31 39 34 37 2D 30 31 2D 31 31 54 30 35 3A 33 33 3A 33 39 2E 33 30 30 5A 22 2C 20 22 72 65 67 69 73 74 65 72 65 64 5F 64 61 74 65 22 3A 20 22 32 30 31 37 2D 30 33 2D 30 37 54 30 39 3A 31 37 3A 33 33 2E 35 36 33 5A 22 2C 20 22 70 68 6F 6E 65 22 3A 20 22 30 31 38 2D 39 36 34 38 2D 34 32 39 22 2C 20 22 70 69 63 74 75 72 65 22 3A 20 22 68 74 74 70 73 3A 2F 2F 72 61 6E 64 6F 6D 75 73 65 72 2E 6D 65 2F 61 70 69 2F 70 6F 72 74 72 61 69 74 73 2F 6D 65 64 2F 77 6F 6D 65 6E 2F 33 2E 6A 70 67 22 7D]|user_created|0        |2     |2023-11-15 09:37:14.109|0            |
|null|[7B 22 69 64 22 3A 20 22 38 66 32 33 32 32 39 61 2D 38 33 39 61 2D 31 31 65 65 2D 61 61 39 65 2D 30 32 34 32 61 63 31 32 30 30 30 32 22 2C 20 22 66 69 72 73 74 5F 6E 61 6D 65 22 3A 20 22 4D 61 72 69 61 22 2C 20 22 6C 61 73 74 5F 6E 61 6D 65 22 3A 20 22 57 61 6C 6B 65 72 22 2C 20 22 67 65 6E 64 65 72 22 3A 20 22 66 65 6D 61 6C 65 22 2C 20 22 61 64 64 72 65 73 73 22 3A 20 22 37 36 34 30 20 57 61 69 2D 49 74 69 20 52 6F 61 64 2C 20 57 65 6C 6C 69 6E 67 74 6F 6E 2C 20 53 6F 75 74 68 6C 61 6E 64 2C 20 4E 65 77 20 5A 65 61 6C 61 6E 64 22 2C 20 22 70 6F 73 74 5F 63 6F 64 65 22 3A 20 31 33 30 31 30 2C 20 22 65 6D 61 69 6C 22 3A 20 22 6D 61 72 69 61 2E 77 61 6C 6B 65 72 40 65 78 61 6D 70 6C 65 2E 63 6F 6D 22 2C 20 22 75 73 65 72 6E 61 6D 65 22 3A 20 22 67 6F 6C 64 65 6E 6D 6F 75 73 65 34 34 37 22 2C 20 22 64 6F 62 22 3A 20 22 31 39 38 39 2D 31 30 2D 32 31 54 30 37 3A 33 39 3A 35 35 2E 33 37 34 5A 22 2C 20 22 72 65 67 69 73 74 65 72 65 64 5F 64 61 74 65 22 3A 20 22 32 30 31 32 2D 31 30 2D 32 37 54 32 31 3A 34 30 3A 31 34 2E 30 34 35 5A 22 2C 20 22 70 68 6F 6E 65 22 3A 20 22 28 33 34 30 29 2D 34 36 35 2D 39 38 38 32 22 2C 20 22 70 69 63 74 75 72 65 22 3A 20 22 68 74 74 70 73 3A 2F 2F 72 61 6E 64 6F 6D 75 73 65 72 2E 6D 65 2F 61 70 69 2F 70 6F 72 74 72 61 69 74 73 2F 6D 65 64 2F 77 6F 6D 65 6E 2F 37 35 2E 6A 70 67 22 7D]                                                |user_created|0        |3     |2023-11-15 09:37:14.471|0            |
|null|[7B 22 69 64 22 3A 20 22 38 66 35 39 31 36 37 30 2D 38 33 39 61 2D 31 31 65 65 2D 61 61 39 65 2D 30 32 34 32 61 63 31 32 30 30 30 32 22 2C 20 22 66 69 72 73 74 5F 6E 61 6D 65 22 3A 20 22 45 76 61 72 69 73 74 6F 22 2C 20 22 6C 61 73 74 5F 6E 61 6D 65 22 3A 20 22 56 69 61 6E 61 22 2C 20 22 67 65 6E 64 65 72 22 3A 20 22 6D 61 6C 65 22 2C 20 22 61 64 64 72 65 73 73 22 3A 20 22 34 36 34 31 20 52 75 61 20 53 61 6E 74 61 20 4C 75 7A 69 61 20 2C 20 50 61 5C 75 30 30 65 37 6F 20 64 6F 20 4C 75 6D 69 61 72 2C 20 4D 69 6E 61 73 20 47 65 72 61 69 73 2C 20 42 72 61 7A 69 6C 22 2C 20 22 70 6F 73 74 5F 63 6F 64 65 22 3A 20 31 32 38 30 33 2C 20 22 65 6D 61 69 6C 22 3A 20 22 65 76 61 72 69 73 74 6F 2E 76 69 61 6E 61 40 65 78 61 6D 70 6C 65 2E 63 6F 6D 22 2C 20 22 75 73 65 72 6E 61 6D 65 22 3A 20 22 6C 61 7A 79 64 75 63 6B 39 38 38 22 2C 20 22 64 6F 62 22 3A 20 22 31 39 37 31 2D 30 35 2D 32 34 54 31 32 3A 33 39 3A 30 32 2E 32 36 38 5A 22 2C 20 22 72 65 67 69 73 74 65 72 65 64 5F 64 61 74 65 22 3A 20 22 32 30 30 35 2D 31 32 2D 31 32 54 30 32 3A 33 33 3A 35 32 2E 33 35 38 5A 22 2C 20 22 70 68 6F 6E 65 22 3A 20 22 28 36 37 29 20 39 30 39 33 2D 35 31 35 39 22 2C 20 22 70 69 63 74 75 72 65 22 3A 20 22 68 74 74 70 73 3A 2F 2F 72 61 6E 64 6F 6D 75 73 65 72 2E 6D 65 2F 61 70 69 2F 70 6F 72 74 72 61 69 74 73 2F 6D 65 64 2F 6D 65 6E 2F 31 30 2E 6A 70 67 22 7D]                        |user_created|0        |4     |2023-11-15 09:37:14.824|0            |
+----+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+---------+------+-----------------------+-------------+
only showing top 5 rows

## Create spark dataframe from kafka

In [9]:
# Define type for each columns
schema = StructType([
    StructField("id", StringType(), True),
    StructField("first_name", StringType(), False),
    StructField("last_name", StringType(), False),
    StructField("gender", StringType(), False),
    StructField("address", StringType(), False),
    StructField("post_code", StringType(), False),
    StructField("email", StringType(), False),
    StructField("username", StringType(), False),
    StructField("dob", TimestampType(), False),
    StructField("registered_date", TimestampType(), False),
    StructField("phone", StringType(), False),
    StructField("picture", StringType(), False)
])

# Define a function converting uuid to datetime (when records are updated)
def convert_uuid_to_datetime(uuid_string):
    uuid_object = uuid.UUID(uuid_string)
    timestamp = time_uuid.TimeUUID(bytes=uuid_object.bytes).get_timestamp()
    datetime_object = datetime.fromtimestamp(timestamp)
    return datetime_object

udf_convert_uuid_to_datetime = udf(lambda z: convert_uuid_to_datetime(z), TimestampType())

# Create Pyspark dataframe from Kafka
sel = spark_df.selectExpr("CAST(value AS STRING)") \
    .select(from_json(col('value'), schema).alias('data')).select("data.*")\
    .withColumn('dob', substring(col('dob'), 1, 19))\
    .withColumn('registered_date', substring(col('registered_date'), 1, 19))\
    .withColumn('update_date', udf_convert_uuid_to_datetime(col('id')))\
    .withColumn('update_date', substring(col('update_date'), 1, 19))

In [5]:
# Define type for each columns
schema = StructType([
    StructField("id", StringType(), True),
    StructField("first_name", StringType(), False),
    StructField("last_name", StringType(), False),
    StructField("gender", StringType(), False),
    StructField("address", StringType(), False),
    StructField("post_code", StringType(), False),
    StructField("email", StringType(), False),
    StructField("username", StringType(), False),
    StructField("dob", TimestampType(), False),
    StructField("registered_date", TimestampType(), False),
    StructField("phone", StringType(), False),
    StructField("picture", StringType(), False)
])

# Define a function converting uuid to datetime (when records are updated)
def convert_uuid_to_datetime(uuid_string):
    uuid_object = uuid.UUID(uuid_string)
    timestamp = time_uuid.TimeUUID(bytes=uuid_object.bytes).get_timestamp()
    datetime_object = datetime.fromtimestamp(timestamp)
    return datetime_object

udf_convert_uuid_to_datetime = udf(lambda z: convert_uuid_to_datetime(z), TimestampType())

# Create Pyspark dataframe from Kafka
sel = spark_df.selectExpr("CAST(value AS STRING)") \
    .select(from_json(col('value'), schema).alias('data')).select("data.*")\
    .withColumn('dob', substring(col('dob'), 1, 19))\
    .withColumn('registered_date', substring(col('registered_date'), 1, 19))\
    .withColumn('update_date', udf_convert_uuid_to_datetime(col('id')))\
    .withColumn('update_date', substring(col('update_date'), 1, 19))

sel.limit(5).toPandas()

,id,first_name,last_name,gender,address,post_code,email,username,dob,registered_date,phone,picture,update_date
0,8e799fea-839a-11ee-aa9e-0242ac120002,Judith,Daniels,female,"8781 Novara Avenue, Enniscorthy, South Dublin,...",39798,judith.daniels@example.com,goldengorilla269,1952-08-06 21:48:59,2017-12-14 23:54:32,041-656-4034,https://randomuser.me/api/portraits/med/women/...,2023-11-15 09:37:13
1,8eb3b5a4-839a-11ee-aa9e-0242ac120002,Ege,Özbey,female,"807 Doktorlar Cd, Kırklareli, Hatay, Turkey",99151,ege.ozbey@example.com,sadostrich659,1945-02-02 18:17:02,2010-06-21 09:17:36,(151)-035-0499,https://randomuser.me/api/portraits/med/women/...,2023-11-15 09:37:13
2,8eebed48-839a-11ee-aa9e-0242ac120002,Branka,Spasić,female,"1917 Porodice Stanković, Plandište, Mačva, Serbia",78794,branka.spasic@example.com,smallleopard291,1947-01-11 05:33:39,2017-03-07 09:17:33,018-9648-429,https://randomuser.me/api/portraits/med/women/...,2023-11-15 09:37:14
3,8f23229a-839a-11ee-aa9e-0242ac120002,Maria,Walker,female,"7640 Wai-Iti Road, Wellington, Southland, New ...",13010,maria.walker@example.com,goldenmouse447,1989-10-21 07:39:55,2012-10-27 21:40:14,(340)-465-9882,https://randomuser.me/api/portraits/med/women/...,2023-11-15 09:37:14
4,8f591670-839a-11ee-aa9e-0242ac120002,Evaristo,Viana,male,"4641 Rua Santa Luzia , Paço do Lumiar, Minas G...",12803,evaristo.viana@example.com,lazyduck988,1971-05-24 12:39:02,2005-12-12 02:33:52,(67) 9093-5159,https://randomuser.me/api/portraits/med/men/10...,2023-11-15 09:37:14

## Create cassandra connection

In [10]:
cluster = Cluster(['host.docker.internal'])
cas_session = cluster.connect()
cas_session

### Create keyspace

In [11]:
cas_session.execute("""
    CREATE KEYSPACE IF NOT EXISTS spark_streams
    WITH replication = {'class': 'SimpleStrategy', 'replication_factor': '1'};
""")

### Create table

In [12]:
cas_session.execute("""
    CREATE TABLE IF NOT EXISTS spark_streams.created_users (
        id UUID PRIMARY KEY,
        first_name TEXT,
        last_name TEXT,
        gender TEXT,
        address TEXT,
        post_code TEXT,
        email TEXT,
        username TEXT,
        dob TIMESTAMP,
        registered_date TIMESTAMP,
        phone TEXT,
        picture TEXT,
        update_date TIMESTAMP);
""")

### Insert_data to cassandra

In [13]:
streaming_query = (sel.writeStream.format("org.apache.spark.sql.cassandra")
                   .option('checkpointLocation', '/tmp/checkpoint')
                   .option('keyspace', 'spark_streams')
                   .option('table', 'created_users')
                   .start())

streaming_query.awaitTermination()

ERROR:root:KeyboardInterrupt while sending command.
Traceback (most recent call last):
  File "/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
  File "/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/clientserver.py", line 511, in send_command
    answer = smart_decode(self.stream.readline()[:-1])
  File "/usr/local/lib/python3.10/socket.py", line 705, in readinto
    return self._sock.recv_into(b)
KeyboardInterrupt

KeyboardInterrupt:

## Read cassandra spark dataframe

In [14]:
cassandra_options = {
    "keyspace": "spark_streams",
    "table": "created_users"
}

cass_df = s_conn.read \
    .format("org.apache.spark.sql.cassandra") \
    .options(**cassandra_options) \
    .load()

cass_df.show(5,False)

+------------------------------------+----------------------------------------------------------+-------------------+----------------------------+----------+------+---------+--------------+----------------------------------------------------+---------+-------------------+-------------------+-----------------+
|id                                  |address                                                   |dob                |email                       |first_name|gender|last_name|phone         |picture                                             |post_code|registered_date    |update_date        |username         |
+------------------------------------+----------------------------------------------------------+-------------------+----------------------------+----------+------+---------+--------------+----------------------------------------------------+---------+-------------------+-------------------+-----------------+
|9b1824d8-839a-11ee-aa9e-0242ac120002|1875 Stevens Creek Blvd, Helena, New Jersey, United States|1957-06-04 01:52:25|lauren.dixon@example.com    |Lauren    |female|Dixon    |(708) 454-7152|https://randomuser.me/api/portraits/med/women/89.jpg|47475    |2002-04-24 07:15:51|2023-11-15 09:37:34|organicmeercat289|
|9ef8a000-839a-11ee-aa9e-0242ac120002|2288 Ormond Quay, Ennis, Kildare, Ireland                 |1976-11-27 12:41:28|luke.hudson@example.com     |Luke      |male  |Hudson   |051-259-0963  |https://randomuser.me/api/portraits/med/men/45.jpg  |54790    |2012-10-17 08:28:55|2023-11-15 09:37:41|whitesnake496    |
|8fc8c4de-839a-11ee-aa9e-0242ac120002|71 Cerrada Lugo, Singuilucan, Sinaloa, Mexico             |1997-10-16 04:06:46|micaela.gonzales@example.com|Micaela   |female|Gonzales |(662) 385 8040|https://randomuser.me/api/portraits/med/women/89.jpg|37162    |2015-10-06 06:45:53|2023-11-15 09:37:15|bluepanda238     |
|ae74c554-839a-11ee-aa9e-0242ac120002|9026 16 Lipnya, Snigurivka, Zhitomirska, Ukraine          |1973-01-03 00:52:18|tatomir.goroviy@example.com |Tatomir   |male  |Goroviy  |(066) I90-2330|https://randomuser.me/api/portraits/med/men/0.jpg   |75119    |2006-09-28 16:13:07|2023-11-15 09:38:07|whiterabbit696   |
|a5f80e0e-839a-11ee-aa9e-0242ac120002|7429 Vatan Cd, Bayburt, Van, Turkey                       |1999-01-21 08:21:37|meral.gonultas@example.com  |Meral     |female|Gönültaş |(856)-687-3867|https://randomuser.me/api/portraits/med/women/10.jpg|42936    |2004-01-17 20:20:16|2023-11-15 09:37:52|beautifulsnake690|
+------------------------------------+----------------------------------------------------------+-------------------+----------------------------+----------+------+---------+--------------+----------------------------------------------------+---------+-------------------+-------------------+-----------------+
only showing top 5 rows